@model SportsNews.Web.Areas.Admin.Models.CreateImageInputModel

@{
    ViewData["Title"] = "Create Image";
}

<div class="row">
    <div class="col-full">
        <div class="respond">
            <form asp-controller="Images" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <fieldset>
                    <h2>Add Image</h2>
                    <hr />
                    <div class="form-field">
                        <label asp-for="@Model.ImageUrl"></label>
                        <input asp-for="@Model.ImageUrl" class="full-width" value="" />
                        <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Add Image</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>