@model SportsNews.Services.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var article in Model.Articles)
{
    <div class="panel-footer">
        @article.CategoryName
        <a class="btn btn-default btn-sm" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">Details</a>
    </div>
}

